@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    @*<h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <div class="row mt-4">
        <div class="col-sm mb-2">
            <button class="btn btn-outline-dark btn-block">A&ntilde;adir Recurso</button>
        </div>
        <div class="col-sm mb-2">
            <button class="btn btn-outline-dark btn-block">A&ntilde;adir Recurso</button>
        </div>
        <div class="col-sm">

        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 my-5">

            <div style="float:right"><img src="~/Images/stickyPin.png" width="200" height="200" /></div>
            <div class="shadow p-3 mb-5 rounded" style="height: 400px;background-color:blanchedalmond;">
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item" style="background-color:blanchedalmond;"><button class="btn btn-block">Open Channel</button></li>
                    <li class="list-group-item" style="background-color:blanchedalmond;"><button class="btn btn-block">Specific Channel</button></li>
                </ul>
                <br />

                <div style="height:200px;">
                    <h4 class="text-left">Here goes the message system</h4>
                </div>
                <div>
                    <form>
                        <div class="form-group">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="background-color:blanchedalmond;"></textarea>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="col-sm-4 m-auto">
            <div class="row-sm my-2 mt-auto">
                <button class="btn btn-outline-dark btn-block">Estadisticas</button>
            </div>
            <div class="row-sm my-2 mt-auto">
                <button class="btn btn-outline-dark btn-block">Busqueda de Recursos</button>
            </div>
            <div class="row-sm my-2 mt-auto">
                <button class="btn btn-outline-dark btn-block">Archivos</button>
            </div>
            <div class="row-sm my-2 mt-auto">
                <button class="btn btn-outline-dark btn-block">Reportes</button>
            </div>
        </div>

    </div>
</div>
